<div class="container-fluid">
  <h2 class="d-inline-block bg-light mt-3">マイページ</h2>
  <div class="my-3 col-4">
    <label class="h3 font-weight-bold">登録情報</label>
    <%= link_to "編集する",customers_edit_page_path,class:"btn btn-success p-2 ml-3" %>
  </div>
  <div class="col-8">
    <table class="table-bordered w-100">
        <tr>
            <td class="table-secondary w-25">氏名</td>
            <td class="w-75"><%= current_customer.full_name %></td>
        </tr>
        <tr>
            <td class="table-secondary">カナ</td>
            <td><%= current_customer.full_name_kana %></td>
        </tr>
        <tr>
            <td class="table-secondary">郵便番号</td>
            <td><%= current_customer.postal_code %></td>
        </tr>
        <tr>
            <td class="table-secondary">住所</td>
            <td><%= current_customer.address %></td>
        </tr>
           <tr>
            <td class="table-secondary">電話番号</td>
            <td><%= current_customer.telephone_number %></td>
        </tr>
        <tr>
            <td class="table-secondary">メールアドレス</td>
            <td><%= current_customer.email %></td>
        </tr>
    </table>
  </div>
  <div class="d-flex my-2 align-items-center">
    <div class="col-2 mr-3 ">
      <label>配送先</label>
    </div>
    <div class="col-2">
      <%= link_to "一覧を見る",addresses_path,class:"btn btn-primary px-3"%>
     </div>
  </div>
  <div class="d-flex my-2 align-items-center">
    <div class="col-2 mr-3 ">
      <label>注文履歴</label>
    </div>
    <div class="col-2">
      <%= link_to "一覧を見る",orders_path,class:"btn btn-primary px-3"%>
     </div>
  </div>