<div class="container">
  <h2 class="d-inline-block bg-light mt-3">商品編集</h2>
  <div class="col-md-8 mx-sm-auto  rounded my-3 p-4 ">
    <%= form_with model: @item,url:"/admin/items/#{@item.id}",local:true do |f| %>
    <div class="field form-group row">
      <%= f.label :"商品画像" ,class:"col-sm-4 col-form-label"%>
      <div class="col-sm-8">
        <%= f.attachment_field :image %>
      </div>
    </div>
    <div class="field form-group row">
      <%= f.label :"商品名" ,class:"col-sm-4 col-form-label"%>
      <div class="col-sm-8">
        <%= f.text_field :name, autofocus: true, autocomplete: "name",class:"form-control" %>
      </div>
    </div>
    <div class="field form-group row">
      <%= f.label :"商品説明" ,class:"col-sm-4 col-form-label"%>
      <div class="col-sm-8">
        <%= f.text_area :introduction,rows:10, autofocus: true, autocomplete: "introduction",class:"form-control" %>
      </div>
    </div>
     <div class="field form-group row">
      <%= f.label :"ジャンル" ,class:"col-sm-4 col-form-label"%>
      <div class="col-sm-8">
        <%= f.collection_select(:genre_id,Genre.all,:id,:name,{prompt:"--選択して下さい--"},{class:"form-control"}) %>
      </div>
    </div>
    <div class="field form-group row">
      <%= f.label :"税抜価格",class:"col-sm-4 col-form-label" %>
      <div class="col-sm-8">
        <%= f.number_field :price,class:"form-control" %>円
      </div>
    </div>
    <div class="field form-group row">
      <%= f.label :"販売ステータス" ,class:"col-sm-4 col-form-label"%>
      <div class="col-sm-8">
        <%= f.radio_button :is_active,:true %>
        <%= f.label :is_active, "販売中",{value: :true,style: "display:inline-block;"} %>
        <%= f.radio_button :is_active,:false %>
        <%= f.label :is_active, "販売停止中",{value: :false,style: "display:inline-block;"} %>
      </div>
    </div>
    <div class="actions row">
      <div class="col-sm-4"></div>
      <div class="col-4 text-center">
        <%= f.submit "変更を保存",class:"btn-block btn btn-success " %>
      </div>
    </div>
    <% end %>
  </div>
</div>