<div class="container mt-3">
    <h2 class="d-inline-block bg-light">商品一覧</h2>
    <div class="text-right">
      <%= link_to new_admin_item_path do %>
      <i class="fas fa-plus-circle fa-3x text-right"></i>
      <% end %>
    </div>
    
    <table>
        <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
        </tr>
          <% @items.each do |item| %>
        <tr>
            <td><%= item.id %></td>
            <td><%= link_to item.name,admin_item_path(item.id) %></td>
            <td><%= item.price %></td>
            <td><%= item.genre.name %></td>
            <td><%= item.status %></td>
        </tr>
        <% end %>
    </table>
    <%= paginate(@items) %>
</div>