<div class="container mt-3">
    <h3 class="d-inline-block bg-light">新規会員登録</h3>
      <%= form_with model:@customer,url: customer_registration_path,local: true do |f| %>
      <div class="form-group row">
        <div class="col-4">
          <%= f.label "名前",class:"label-form"%>
        </div>
        <div class="col-4">
          <%= f.label "（姓）",class:"label-form"%>
          <%= f.text_field :last_name,placeholder:"令和",class:"form-control"%>
        </div>
        <div class="col-4">
          <%= f.label "（名）",class:"label-form"%>
          <%= f.text_field :first_name,placeholder:"花子",class:"form-control"%>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-4">
          <%= f.label "フリガナ",class:"label-form"%>
        </div>
        <div class="col-4">
          <%= f.label "（セイ）",class:"label-form"%>
          <%= f.text_field :last_name_kana,placeholder:"レイワ",class:"form-control"%>
        </div>
        <div class="col-4">
          <%= f.label "（メイ）",class:"label-form"%>
          <%= f.text_field :first_name_kana,placeholder:"ハナコ",class:"form-control"%>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-4">
          <%= f.label "メールアドレス",class:"label-form"%>
        </div>
        <div class="col-4">
          <%= f.email_field :email,placeholder:"example@email.com",class:"form-control"%>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-4">
          <%= f.label "郵便番号（ハイフンなし）",class:"label-form"%>
        </div>
        <div class="col-4">
          <%= f.text_field :postal_code,placeholder:"0000000",class:"form-control"%>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-4">
          <%= f.label "住所",class:"label-form"%>
        </div>
        <div class="col-8">
          <%= f.text_field :address,placeholder:"東京都渋谷区代々木神園町０−０",class:"form-control"%>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-4">
          <%= f.label "電話番号（ハイフンなし）",class:"label-form"%>
        </div>
        <div class="col-4">
          <%= f.text_field :telephone_number,placeholder:"00000000000",class:"form-control"%>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-4">
          <%= f.label "パスワード（６文字以上）",class:"label-form"%>
        </div>
        <div class="col-4">
          <%= f.password_field :password,class:"form-control"%>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-4">
          <%= f.label "パスワード（確認用）",class:"label-form"%>
        </div>
        <div class="col-4">
          <%= f.password_field :password_confirmation,class:"form-control"%>
        </div>
      </div>
      <div class="actions row my-4">
        <div class="col-4"></div>
        <div class="col-3">
          <%= f.submit "新規登録",class:"btn-block btn btn-success" %>
        </div>
      </div>
      <% end %>
    </div>
    <div class="col-5">
     <h3 class="d-inline-block bg-light">既に登録済みの方</h3>
     <div class="d-flex justify-content-center mt-4">
       <p><%= link_to"こちら",new_customer_session_path %>からログインしてください。</p>
     </div>
    </div>

</div>
