<div class="container mt-3">
  <div class="d-flex">
    <%= render 'layouts/sidebar'%>
     <div class="main-contents col-10">
       <div class="top-view">
         <div class="position-relative">
         <%= image_tag "top.jpg",class:"top" %>
           <div class="position-absolute top-text-box py-3 d-flex align-items-center justify-content-center">
             <p class="text-white">ようこそ、ながのCAKEへ！<br>
               このサイトは、ケーキ販売のECサイトになります。<br>
               会員でない方も商品の閲覧はできますが、<br>
               購入には会員登録が必要になります。
             </p>
           </div>
         </div>
        </div>
      <h3 class="m-3">新着商品</h3>
        <div class="d-flex">
          <% @items.first(4).each do |item| %>
          <div class="item-box w-25 px-1">
            <div class="image w-100">
              <%= link_to item_path(item.id) do %>
                <%= attachment_image_tag item,:image,size:"170x110",format:'jpeg',fallback:"no_image.png" %>
              <% end %>
            </div>
            <p class="my-1"><%= item.name %></p>
            <p class="my-1">¥<%= item.tax_price.to_s(:delimited) %></p>
          </div>
          <% end %>
        </div>
        <div class="text-right">
          <%= link_to "全ての商品を見る >",items_path%>
        </div>
      </div>
    </div>
  </div>
