<div class="container">
  <h2 class="d-inline-block bg-light mt-3">ショッピングカート</h2>
  <%= link_to "カートを空にする",cart_items_empty_path,method: :delete,class:"ml-auto btn btn-danger"%>
  <table class="table">
    <thead>
      <tr class="table-secondary">
        <th>商品名</th>
        <th>単価（税込）</th>
        <th>数量</th>
        <th>小計</th>
        <th></th>
      </tr>
    </thead>
    <% @cart_items.item.each do |item|%>
    <%= form_with model:@cart_item,url:cart_item_path,local:true do %>
    <tr>
      <td><%= attachment_image_tag item,:image,format:'jpeg',fallback:"no_image.png"%>
          <%= item.name %>
      </td>
      <td><%= item.price %></td>
      <td><%= f.select :amount,options_for_select((1..20).to_a) %>
          <%= f.submit"変更",class:"btn btn-success" %></td>
      <td><%= @cart_item.amount*item.price %></td>
      <td><%= link_to "削除する",cart_item_path(@cart_item.id),method: :delete,class:"btn btn-danger" %></td>
    </tr>
    <% end %>
    <% end %>
  </table>
  <%= link_to "買い物を続ける",items_path,class:"btn btn-primary mt-4" %>
  <table class="table">
    <tr>
      <td>合計金額</td>
      <td><%= @total_price%></td>
    </tr>
  </table>
</div>