<div class="container mt-3">
  <div class="d-flex">
  <%= render 'layouts/sidebar'%>
  <div class="col-10 d-flex">
    <div class="item_image col-5">
       <%= attachment_image_tag item,:image,size:"300x200",format:'jpeg',follback:"no_image.png" %>
     </div>
     <div class="col-7">
       <%= @item.name ,class:"font-weight-bold" %>
       <%= @item.introduction ,class:"my-2" %>
       ¥<%= @item.price*@tax ,class:"my-4"%><span>(税込)</span>
       <%= form_with model:@cart_items,url:cart_items_path,local: true do |f| %>
         <%= f.hidden_field :customer_id, :value => current_customer.id %>
         <%= f.hidden_field :item_id, :value => @item.id %>
         <%= f.select :amount,options_for_select((1..20).to_a),include_blank: "個数選択" %>
       <% end %>
       
     </div>
     
  </div>
    
  </div>
</div>