<div class="container-fluid mt-3">
  <div class="d-flex">
  <%= render 'layouts/sidebar'%>
  <div class="col-10 d-flex">
    <div class="item_image w-50">
       <%= attachment_image_tag @item,:image,size:"300x200",format:'jpeg',follback:"no_image.png" %>
     </div>
     <div class="col-7">
       <p class="font-weight-bold"><%= @item.name%></p>
       <p class="my-2"><%= @item.introduction %></p>
       <p class="my-4">¥<%= (@item.tax_price).to_s(:delimited) %><span>(税込)</span></p>
       <%= form_with model:@cart_item,url:cart_items_path,local: true do |f| %>
       <div class="form-group">
         <% if customer_signed_in? %>
         <%= f.hidden_field :customer_id, :value => current_customer.id %>
         <% end %>
         <%= f.hidden_field :item_id, :value => @item.id %>
         <%= f.select :amount,options_for_select((1..20).to_a),include_blank: "個数選択" %>
         <%= f.submit "カートに入れる",class:"btn btn-success ml-4"%>
         </div>
       <% end %>

     </div>

  </div>

  </div>
</div>